<section id="student-root" [class]="theme">
  <div class="toolbar">
    <p>BZL</p>
    <button mat-icon-button mat-raised-button (click)="openSettingsDialog()">
      <mat-icon fontSet="fas" fontIcon="fa-paint-roller"></mat-icon>
    </button>
  </div>
  <header>
    <h1 class="landing-title">Cursussen</h1>
  </header>
  <div id="student-root-content" class="wrapped-content">
    <p>Hieronder vind je een lijst van cursussen die je kan volgen.</p>

    <div id="student-courses-list">
      <article class="course">
        <aside class="icon">
          <mat-icon fontSet="fas" fontIcon="fa-book-reader"></mat-icon>
        </aside>
        <header>CSS-selectors</header>
        <p class="course-description">Deze les handelt over CSS-selectors en het stylen van een webpagina.</p>
      </article>
      <article class="course">
        <aside class="icon">
          <mat-icon fontSet="fas" fontIcon="fa-book-reader"></mat-icon>
        </aside>
        <header>CSS-selectors</header>
        <p class="course-description">Deze les handelt over CSS-selectors en het stylen van een webpagina.</p>
      </article>
      <article class="course">
        <aside class="icon">
          <mat-icon fontSet="fas" fontIcon="fa-book-reader"></mat-icon>
        </aside>
        <header>CSS-selectors</header>
        <p class="course-description">Deze les handelt over CSS-selectors en het stylen van een webpagina.</p>
      </article>
      <article class="course">
        <aside class="icon">
          <mat-icon fontSet="fas" fontIcon="fa-book-reader"></mat-icon>
        </aside>
        <header>CSS-selectors</header>
        <p class="course-description">Deze les handelt over CSS-selectors en het stylen van een webpagina.</p>
      </article>
      <article class="course">
        <aside class="icon">
          <mat-icon fontSet="fas" fontIcon="fa-book-reader"></mat-icon>
        </aside>
        <header>CSS-selectors</header>
        <p class="course-description">Deze les handelt over CSS-selectors en het stylen van een webpagina.</p>
      </article>
    </div>
  </div>
</section>